.body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgba(229, 84, 115, 0.10);

}

.heading {
    display: flex;
}

.content {

    justify-content: space-between;
    /* padding-top: 197px; */
}

.top {
    display: flex;
    width: 400px;
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;
    margin: 197px 97px 365px 150px;
}

.head-pic {
    width: 400px;
    height: auto;
    margin-right: 50px 150px 0px 90px;

}

.para {
    display: flex;
    width: 600px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin: -322px 171px 32px 150px;
}

.button {
    border-radius: 8px;
    background-color: #E55473;
    color: #FFF;
    border: none;
    font-size: 11px;
    margin: -30px 671px 167px 150px;
    padding: 15px 30px 15px 30px;
}

.main {
    width: auto;
    height: 4867px;
    background-color: #FFF;

}

.top2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
    margin-bottom: 20px;
}

.para2 {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 12px 14px 12px 40px;
}

.background1 {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-right: 24px;

}

.background2 {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-right: 24px;

}

.background3 {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.first-img {
    width: 220px;
    height: 320px;
    margin: 79px 136px 300px 40px;
}

.third {
    margin: 141px 180px 50px 199px;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);

}

.tag {
    color: #272727;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: -313px 10px 10px 47px;
}

.button1 {
    width: 68px;
    height: 68px;
    border: 0px;
    margin: 89px 10px 10px 223px;
}

.button2 {
    width: 68px;
    height: 68px;
    border: 0px;
    margin: 89px 10px 10px 223px;
}

.button3 {
    width: 68px;
    height: 68px;
    border: 0px;
    margin: 89px 10px 10px 223px;
}

.button4 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    margin: 4px -147px 6px 93px;
}

.main2 {
    display: flex;
    margin: -3500px 50px 200px 100px;
}

.heading-deal1 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.para3 {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 12px 14px 12px 0px;

}

.buttoni {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #E55473;
    border: 0px;
    padding: 20px 43px;
    border-radius: 8px;
    margin: 13px 10px 16px 189px;
}

.head-pic1 {
    margin: -93px 10px 16px 189px;
}

.main3 {
    font-family: 'Lato', sans-serif;
}

.flower {
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 5px;
}

.flower2 {
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 12px 14px 12px 390px;
    margin-bottom: 20px;
}

.pic1 {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    display: flex;
    margin: 10px 150px 30px 150px;
    

}
.pic2{
    margin-right: 24px;
}
/* .pic3{
    margin: 10px 20px 30px 40px;
} */
.size {
    width: 50px;
    height: 100px
    
}
.bacground-img{
    background-image: url('../Flower\ Asset/.bacground-img');
}